# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
Assets/**/*.glb filter=lfs diff=lfs merge=lfs -text
Assets/**/*.fbx filter=lfs diff=lfs merge=lfs -text
Assets/**/*.blend filter=lfs diff=lfs merge=lfs -text
Assets/**/*.bin filter=lfs diff=lfs merge=lfs -text
Assets/**/*.wav filter=lfs diff=lfs merge=lfs -text
Assets/**/*.ogg filter=lfs diff=lfs merge=lfs -text
Assets/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/**/*.exr filter=lfs diff=lfs merge=lfs -text
Assets/**/*.hdr filter=lfs diff=lfs merge=lfs -text
Assets/**/*.tga filter=lfs diff=lfs merge=lfs -text
Assets/**/*.psd filter=lfs diff=lfs merge=lfs -text
